@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2 {
    margin-bottom: 5%;
    font-size: 30px;
}

/* styles for divs - main content*/
#main {
    background-color: aqua;
    width: 50%;
    border-radius: 10px;
   /* padding: 6px; */
}

/* styles for playlist title */
#playlist-logo {
    width: 70px;
    min-width: 30px;
    margin-right: 16px;
}

#playlist-title {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

#p1 {
    font-size: 16px;
    margin-bottom: 6px;
}

#p2 {
    font-size: 22px;
}

/* styles for left content */
.left-content {
    float: left;
    padding: 16px;
}

.song-cover {
    width: 220px;
    margin-bottom: 6px;
}

/* style for progress line */

.progress-off {
    width: 220px;
    height: 6px;
    background-color: grey;
    border-radius: 6px;
}

.progress-on {
    width: 220px;
    height: 6px;
    background-color: red;
    border-radius: 6px;
}

/* style for buttons */
.buttons {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-btns {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.buttons img:not(#bigger-play-btn) {
    width: 20px;
}

#bigger-play-btn {
    width: 30px;
}

.prev-btn, .play-btn, .next-btn, .speaker-btn {
    width: 30px;
    background-color: aqua;
    border: none;
}

.prev-btn:hover, .play-btn:hover, .next-btn:hover, .speaker-btn:hover {
    cursor: pointer;
    background-color: blueviolet;
}

/* styles for right content */
.right-content {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    margin-top: 26px;
}

ul {
    list-style: none;
    font-size: 18px;
}

li:not(:last-of-type) {
    margin-bottom: 9px;
}

.right-content a {
    text-decoration: none;
    color: black;
}

.song-change /*.right-content a:hover*/ {
    color: brown;
}
