@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle, rgba(117,117,117,1) 50%, rgba(33,33,33,1) 100%); 
}

h2 {
    margin-bottom: 3%;
    font-size: 30px;
    color: white;
    text-shadow: 4px -5px 18px rgba(66, 66, 66, 1);
}

/* styles for divs - main content*/
#main {
    background-color: #A62A2A;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 9px 30px 3px rgba(66, 66, 66, 1);
    margin-bottom: 3%;
}

hr {
    border: solid 2px white;
    border-radius: 6px;
    width: 95%;
    margin: 0 auto;
}

/* styles for playlist title */
#playlist-logo {
    width: 80px;
    min-width: 30px;
    margin-right: 16px;
}

#playlist-title {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

#p1 {
    font-size: 16px;
    margin-bottom: 6px;
}

#p2 {
    font-size: 22px;
    font-weight: bold;
}

/* styles for left content */
.left-content {
    float: left;
    padding: 16px;
}

.song-cover {
    width: 220px;
    margin-bottom: 6px;
}

/* style for progress line */

.progress-off {

    width: 220px;
    height: 6px;
    background-color: black;
    border-radius: 6px;
}

.progress-line-on {
    width: 220px;
    height: 6px;
    background-color: red;
    border-radius: 6px;
}

/* style for buttons */
.buttons {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-btns {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.buttons img:not(#bigger-play-btn) {
    width: 20px;
}

#bigger-play-btn {
    width: 30px;
}

#bigger-play-btn:hover {
    transform: scale(1.1);
}

.prev-btn, .play-btn, .next-btn, .speaker-btn {
    width: 30px;
    background-color: #A62A2A;
    border: none;
}

.prev-btn:hover, .play-btn:hover, .next-btn:hover, .speaker-btn:hover {
    cursor: pointer;
}

/* styles for right content */
.right-content {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    margin-top: 26px;
}

ul {
    list-style: none;
    font-size: 20px;
}

li:not(:last-of-type) {
    margin-bottom: 9px;
}

.song-title {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.song-change, .right-content a:hover {
    text-decoration: none;
    color: white;
}

/* styling for footer */
#p3 {
    font-size: 13px;
}
